form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form > div {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

textarea {
    height: 200px;
}

body {
    width: 100vw;
    height: 100vh;
}

button {
    width: 100px;
    height: 40px;
}

.hide {
    display: none;
}

#videoSourceWrapper {
    width: 40vw;
}

video {
    width: 100%;
}

.privacy-wrapper {
    flex-direction: row;
}

.modal-wrapper {
    width: 30vw;
    padding: 15px;
    position: fixed;
    background-color: white;
    top: 40%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    box-shadow: #00000066 2px 2px 10px 10px;
}